<div class="weather-modal">
  <div class="weather-modal__head">
    <span class="weather-modal__title">Add a new city</span>
    <a href="/" class="weather-modal__close">&times;</a>
  </div>
  <div class="weather-modal__body" data-controller="new-city" data-new-city-api-value="<%= cities_api_location_path %>">
    <% @location.errors.full_messages.each do |message| %>
      <p class="weather-model__error"><%= message %></p>
    <% end %>
    <input type="search" data-new-city-target="search" placeholder="Start typing..." data-action="input->new-city#search" />

    <ul class="weather-modal__list" data-new-city-target="list"></ul>

    <%= form_with model: @location do |f| %>
      <%= f.hidden_field :city, data: { 'new-city-target' => "city" } %>
      <%= f.hidden_field :latitude, data: { 'new-city-target' => "latitude" } %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :longitude, data: { 'new-city-target' => "longitude" } %>
      <button type="submit">Save city</button>
    <% end %>
  </div>
</div>
