<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="theme-<%= @setting ? @setting.theme : 'sky' %>">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <header class="weather-profile">
      <% if signed_in? %>
        <a href="/settings" class="weather-profile__avatar">🧔‍♂️</a>
        <div class="weather-profile__menu">
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        </div>
      <% else %>
        <div class="weather-profile__avatar weather-profile__avatar--hide">🧔‍♂️</div>
        <div class="weather-profile__menu">
          <%= link_to 'Sign in', sign_in_path %>
        </div>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
